/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Dyna"; //Identifier
  src: url("../src/assets/fonts/DynaPuff-Medium.ttf");
}
@font-face {
  font-family: "SueEllen";
  src: url("../src/assets/fonts/SueEllenFrancisco-Regular.ttf");
}
@font-face {
  font-family: "Concert";
  src: url("../src/assets/fonts/ConcertOne-Regular.ttf");
}
@font-face {
  font-family: "Frederick";
  src: url("../src/assets/fonts/FrederickatheGreat-Regular.ttf");
}

ion-datetime.ion-color-gold,
ion-datetime-button.ion-color-gold {
  color: #ffd700 !important;
}

ion-datetime.ion-color-lightblue,
ion-datetime-button.ion-color-lightblue {
  color: #00a2ff !important;
}

ion-toast.good-toast {
  --background: #234983dc;
  --color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Concert";
  font-size: 1.2rem;
}

ion-toast.good-toast::part(message) {
  font-style: italic;
}

ion-toast.bad-toast {
  --background: #832323dc;
  --color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Concert";
  font-size: 1.2rem;
}

ion-toast.bad-toast::part(message) {
  font-style: italic;
}

ion-alert.save {
  font-family: "Frederick";
  --backdrop-opacity: 0.4;
  --background: #0fa8e4d3;
}

.save .alert-button-group {
  display: flex;
  font-family: "Concert";
}

ion-alert.delete {
  font-family: "Frederick";
  --backdrop-opacity: 0.4;
  --background: #e40f0fd3;
}

.delete .alert-button-group {
  display: flex;
  font-family: "Concert";
}

ion-popover {
  --background: transparent;
  --backdrop-opacity: 0;
  --box-shadow: none;
  // --color: white;
  // --width: 300px;
  --width: 13rem;
}

ion-popover ion-content {
  --background: transparent;
  --box-shadow: none;
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  background: url(/assets/bg.png) 0 0/100% 100% no-repeat;
}
